body {
    background-color: black;
}
ul {
    color: white;
}
a{
    color: white;
}
h4{
    color: white;
}
h1 {
    color: white;
}
.form,
.greeting{
    color: white;
    display: none;
}
.showing {
    display: block;
  }
.clicked{
    color : yellowgreen;
}
#clock{
    font-size: 14;
    color: darkgreen;
}
#main-container{
    padding: 1rem;
}

#left-box {
    float: left;
    width: 20%;
}

#right-box {
    float: right;
    width: 80%;

}

#header {
    width: 20%;
}

#footer{
    color: white;
    height: 10%;
    padding-top: 1rem;
    clear: both;
}